# -----------------------
# SENSITIVE / SECRETS
# -----------------------
# Your service key (Critical)
test_beach_circle_key.json

# Firebase Config (Critical)
**/google-services.json
**/GoogleService-Info.plist
# Firebase secrets
lib/firebase_options.dart
# Ignore my secret API keys
lib/email_config.dart

# Keystores
*.jks
*.keystore
key.properties

# -----------------------
# FLUTTER / DART
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
build/
app/build/
.gradle/

# Android specific
android/local.properties
android/.gradle
android/captures/

# iOS specific
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.generated/
ios/Pods/
ios/Podfile.lock

# IDE settings
.idea/
.vscode/
*.iml

# -----------------------
# PYTHON
# -----------------------
beachcircle_venv/
venv/
env/
__pycache__/
*.pyc

# -----------------------
# SYSTEM
# -----------------------
.DS_Store
Thumbs.db

node_modules/